
@import "../common/00-settings/responsive-breakpoints";

$msv-checkout-express-googlepay-mobile-margin-right: -24px;
$msv-checkout-express-payment-container-padding-left: 400px;
$msv-checkout-express-paypal-margin-left: 4px;
$msv-checkout-express-mobile-width: 100%;
$msv-checkout-express-mobile-margin-right: 8px;

[dir="rtl"] {
    .container.msc-express-payment-container {
        padding-right: 0;
        padding-left: $msv-checkout-express-payment-container-padding-left;

        @media screen and (max-width: $msv-breakpoint-m) {
            padding-left: 0;
        }
    }

    .ms-checkout-express-googlepay {
        @media screen and (max-width: $msv-breakpoint-ms) {
            width: $msv-checkout-express-mobile-width;
            margin-right: $msv-checkout-express-mobile-margin-right;
        }

        @media screen and (max-width: $msv-breakpoint-m) {
            margin-right: $msv-checkout-express-googlepay-mobile-margin-right;
            margin-left: 0;
        }
    }

    .ms-checkout-express-paypal {
        @media screen and (max-width: $msv-breakpoint-ms) {
            width: $msv-checkout-express-mobile-width;
            margin-right: $msv-checkout-express-mobile-margin-right;
        }

        margin-left: $msv-checkout-express-paypal-margin-left;

        .ms-checkout-express__add {
            margin-left: -4px;
        }
    }

    .checkout-express {
        &__iframe {
            @media screen and (max-width: $msv-breakpoint-m) {
                margin-right: 10px;
            }
        }
    }
}
