@import "../common/00-settings/responsive-breakpoints";

$rtl-msv-order-history-with-search-and-filters-order-information-channel-name-padding-right: 0;
$rtl-msv-order-history-with-search-and-filters-order-information-channel-name-padding-left: 5px;
$rtl-msv-order-history-with-search-and-filters-order-information-count-padding-right: 5px;
$rtl-msv-order-history-with-search-and-filters-order-information-count-padding-left: 0;

[dir="rtl"] {
    .ms-order-history-with-search-and-filters {
        // order-history-with-search-and-filters-organization-wide-selector
        .ms-order-history-with-search-and-filters-organization-wide-selector {
            &__button {
                margin-left: 15px;
                margin-right: 0;
            }
        }

        // order-history-with-search-and-filters-view-mode-selector
        .ms-order-history-with-search-and-filters-view-mode-selector {
            @media screen and (min-width: $msv-breakpoint-m) {
                border-right: 1px solid var(--msv-order-history-with-search-and-filters-border);
                border-left: unset;
                margin-left: unset;
                margin-right: 12px;
                padding-left: unset;
                padding-right: 12px;
            }
        }

        // order-history-with-search-and-filters-order-list
        .ms-order-history-with-search-and-filters-order-list {
            &__order-information {
                flex-basis: 100%;

                &-channel-name {
                    padding-right: $rtl-msv-order-history-with-search-and-filters-order-information-channel-name-padding-right;
                    padding-left: $rtl-msv-order-history-with-search-and-filters-order-information-channel-name-padding-left;
                }

                &-count {
                    padding-right: $rtl-msv-order-history-with-search-and-filters-order-information-count-padding-right;
                    padding-left: $rtl-msv-order-history-with-search-and-filters-order-information-count-padding-left;
                    border-left: none;
                    border-right: 1px solid var(--msv-order-history-with-search-and-filters-border);
                }
            }
        }

        // order-history-with-search-and-filters-view-order-table
        .ms-order-history-with-search-and-filters-order-table {
            &__row__actions {
                text-align: left;
            }
        }
    }
}
